@model List<TmpDeductModel>

<div style="overflow-x:auto;">
    <table id="tblDeduct" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Order No.</th>
                <th>ลำดับ</th>
                <th>LotNo.</th>
                <th>Article No.</th>
                <th>จน.ดึง</th>
                <th>จน.รับ</th>
                <th>เลขที่บิลตัดบัญชี</th>
                <th>เลขที่บิลจ่ายงาน</th>
                <th>ชื่อช่าง</th>
                <th>เลือก</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    string itemId = $"{item.RunDeduct}";
                    <tr>
                        <td>@item.OrderNo</td>
                        <td>@item.ListNo</td>
                        <td>@item.LotNo</td>
                        <td>@item.Article</td>
                        <td class="text-right">@item.DeductQty</td>
                        <td class="text-right">@item.QcQty</td>
                        <td>@item.Doc_No</td>
                        <td>@item.DocNo</td>
                        <td>@item.Name</td>
                        <td class="text-center">
                            <input type="checkbox"
                                   data-item-id="@itemId"
                                   @(item.ChkS ? "checked" : "")
                                   style="width:24px; height:24px; cursor:pointer;" />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10" class="text-center">
                        <span>ไม่พบข้อมูล</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>