@model List<TmpDeductModel>

<div class="alert alert-success mb-3">
    <i class="fas fa-check-circle"></i> เลือกแล้ว  @Model.Count() รายการ
</div>
<div class="table-container" style="max-height: 60vh;">
    <table id="tblSelectedDeduct" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Order No.</th>
                <th class="text-center">ลำดับ</th>
                <th class="text-center">LotNo.</th>
                <th class="text-center">Article No.</th>
                <th class="text-center">จน.ดึง</th>
                <th class="text-center">จน.รับ</th>
                <th class="text-center">เลขที่บิลตัดบัญชี</th>
                <th class="text-center">เลขที่บิลจ่ายงาน</th>
                <th class="text-center">ชื่อช่าง</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.OrderNo</td>
                        <td class="text-center">@item.ListNo</td>
                        <td class="text-center">@item.LotNo</td>
                        <td class="text-center">@item.Article</td>
                        <td class="text-center">@item.DeductQty</td>
                        <td class="text-center">@item.QcQty</td>
                        <td class="text-right">@item.Doc_No</td>
                        <td class="text-right">@item.DocNo</td>
                        <td class="text-right">@item.Name</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">
                        <span>ไม่พบข้อมูล</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>